* {
    padding: 0;
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url('assets/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10% 0 10%;
}

nav .logo {
    color: white;
    display: flex;
    align-items: center;
}

nav .logo .logo_text {
    margin-left: 10px;
}

nav .logo span {
    font-size: 40px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    padding: 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.highlighted {
    background-color: #00c2ff;
    color: white;
    padding: 15px 25px 15px 25px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
    width: 200px;
    box-shadow: 0 0 5px grey;
}

.menu {
    display: none;
}

main {
    display: flex;
    flex-direction: column;
    padding: 0 10% 0 10%;
}

main h1 {
    color: #00c2ff;
    font-size: 70px;
    margin-bottom: 8px;
}

main span {
    color: white;
    font-size: 40px;
    margin-bottom: 16px;
}

main span a {
    text-decoration: none;
    color: red;
    width: 100px;
}

footer {
    background-color: black;
    position: relative;
    height: 10vh;
    display: flex;
    align-items: center;
    padding: 0 10% 0 10%;
}

footer ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

footer ul li {
    display: flex;
    flex-direction: column;
    margin-right: 4px;
}

footer ul li strong {
    color: #00c2ff;
    margin-bottom: 2px;
}

footer ul li span {
    color: white;
}

/* For responssive design */

@media(max-width:1016px) {
    nav ul {
        display: none;
    }
    .menu {
        display: inline-block;
        text-decoration: none;
        color: white;
    }
    * {
        overflow-y: auto;
    }
}

@media(max-width:375px) {
    nav .logo .logo_text {
        display: none;
    }
}